#Pre proccesssing
opencv-python
numpy
os
threading
datetime

#ESP Configuration
websockets
asyncio
aiofiles
concurrent
zeroconf
socket
threading

#Deep Learning Models
torch
torchvision
ultralytics
facenet_pytorch